<%- include('header'); %>

<h1>Profile</h1>

<div>
  <ul>
    <li><%= user.name %></li>
    <li><%= user.username %></li>
    <li><%= user.email %></li>
    <li><%= user.phone %></li>
    <li><%= user.address %></li>
  </ul>
</div>

<br> <a href="/">Account Summary</a>

<%- include('footer'); %>
